:root {

    --primary-color: #4b3832;
    --secondary-color: 	#854442;
    --detail-color-three: #fff4e6;
    --detail-color-two: #3c2f2f;
    --detail-color-one: #be9b7b;
    --black: #1f1f1f;
    --black-transparent: #1f1f1f5d;

    --red: #F1433F;
    --blue: #70B7BA;
    --yellow: #F7E967;
    --green:  #A9CF54;
}