@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: Londrina;
    src: url(./assets/fonts/Londrina_Solid/LondrinaSolid-Regular.ttf);
}

@font-face {
    font-family: Mandali;
    src: url(./assets/fonts/Mandali/Mandali-Regular.ttf);
}

* {
  font-family: Mandali;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: none;
  border: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
